

.lb {
    margin:5px 0;
}
.lb label {
    display:block;
    float:left;
    width:200px;
    
}
#isTest{
    width:20px;
}
#assignRegNumber{
    width:20px;
}
#isRobotSignErrors{
    width:20px;
}
.lb input { 
 width:300px;
}
.lb textarea { 
width:300px;
}

.lbp_head {
    margin:5px 0;
    padding:5px;
    height:35px;
    /* background-color:#d4de2c; */
    color:#fff;
    font-weight:bold;
    border-bottom:1px solid #d4de2c;
}
.lbp_head .name{
    width:200px;
    float:left;
}
.lbp_head .file{
    width:250px;
    float:left;
}
.lbp_head .loading{
    width:250px;
    float:left;
}
.lbp {
    margin:5px 0;
    height:35px;
    padding: 0 0 10px 5px;
    border-bottom:1px solid #d4de2c;
}
.lbp label {
    display:block;
    float:left;
    width:200px;
    line-height: 30px;
}
.lbp input { 
 width:250px;
 height:35px;
}
.lbp img { 
margin-top:5px;
}